@charset "utf-8";
@import "var";
/* reset css */
html,
body {
  margin: 0;
}

article,
section,
select,
label,
input,
span,
div,
ul,
li,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul,
li {
  padding: 0;
  list-style: none;
}

a,
a:hover,
a:active,
a:visited {
  color: currentColor;
  outline-width: 0;
  text-decoration: none;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}
a.amap-logo {
  display: none !important;
}
/* reset css */
html,
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  //background: #f0f2f5 !important;
  overflow: hidden;
}
